[Unit]
Description=DVB-T streaming server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/dvblast --quiet --frequency 554000000 --config-file /etc/dvblast/tnt.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
