[Unit]
Description=DVB-T streaming server
After=network.target

[Service]
ExecStart=dvblast --frequency 554000000 --config-file /etc/dvblast/tnt.conf
#ExecStart=/usr/bin/tnt-stream
Restart=on-failure

#[Install]
#WantedBy=multi-user.target
